.signup-container {
  max-width: 100%;
  height: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 10em auto 0;
  text-align: center;
  font-family: sans-serif;
}

.signup-container h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px -10px;
  width: 100%;

  border: 1px solid #999;
  outline: none;
}

button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.sign-btn {
  background-color: #0c6ad6;
}
.sign-btn:hover {
  background: #0252ad;
}

.google {
  background-color: #f30909;
}
.google:hover {
  background-color: #8a0707;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}
