body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#error {
  margin: 10px;
  padding: 10px;
  border-radius: 50px 10px 10px -50px;
  background: rgb(245, 143, 143);
  color: crimson;
}
